.carousel-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    width: calc(100% * 3);
    transition: transform 0.5s ease;
  }
  
  .carousel-slide img {
    width: calc(100% / 3);
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  